@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .hamburguer div:first-child{
    @apply rotate-45 translate-y-1.5
  }

  .hamburguer div:last-child{
    @apply -rotate-45 -translate-y-1
  }
}

:root {
  background-color: rgb(217,50,50);
  background-color: linear-gradient(0deg, rgba(217,50,50,1) 0%, rgba(164,137,80,1) 50%, rgba(32,103,62,1) 100%);
}

/* NavBar Style  */

.nav { flex-direction: column-reverse;
  display: flex;
  background-color: rgb(42, 47, 51); 
}
  
  
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    padding: 0 20px;
    height: 70px;
    top: 0;  
    z-index: 9999;
  }
  
  .nav-container img {
    height: 50px;
    width: 50px;
    flex-direction:row ;
    align-items: left;
  }
  
  
  .nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    height: 100px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
  }
  
  .nav-links {
    display: flex;
    flex-direction: row;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-link {
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: rgb(20, 97, 168); /* Change the color on hover */
    transform: scale(110%);
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .nav-toggle {
      display: flex;
    }
  
  
    .nav-links li {
      margin: 10px 0;
    }
  }
  
  .light {
    background-color: #fb923c; /* Light background color */
    color: #000000; /* Light text color */
    display: flex;
    flex-direction: column;
    /* Add more styles for your light mode here */
  }
  
  .obscure {
    background-color: #7c2d12; /* Obscure background color */
    color: #ffffff; /* Obscure text color */
    display: flex;
    flex-direction: column;
    /* Add more styles for your obscure mode here */
  }
  .button-box {
    width: 230px;
    margin: 10px auto;
    position: relative;
    border-radius: 30px;
    background: black
      color(white)
  
  }
  
  .toggle-btn {
    padding: 10px 40px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    color: white;
  }
  
  #btn {
    left: 0;
    top: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: transparent;
    border-radius: 30px;
    transition: .5s;
    color: white;
    border-radius: 30%;
      
  }
  .toggle-btn2 {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    color:white;
    border-radius: 30%;
  }
  
  .shopping-cart-icon {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }
  
  button {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin-right: 2px;
  }